## Connecting to a Database

In [1]:
from sqlalchemy import create_engine

In [2]:
URL = "hana+hdbcli://SYSTEM:HXEHana1@192.168.219.104:39017"

In [3]:
engine = create_engine(URL, echo=True)

In [4]:
engine

Engine(hana+hdbcli://SYSTEM:***@192.168.219.104:39017)

## Data Types

- https://docs.sqlalchemy.org/en/13/core/type_basics.html#generic-types

### DATE Types

In [5]:
from sqlalchemy.ext.declarative import declarative_base

In [6]:
from sqlalchemy import Table, Column, Time, DATE, TIMESTAMP

Base = declarative_base()
class Table1(Base):
    __tablename__ = 'table1'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    column1 = Column(DATE())
    column2 = Column(Time())
    #column3 = Column(SECONDDATE())
    column4 = Column(TIMESTAMP())

    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

NameError: name 'Integer' is not defined

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.drop_all(engine)

### Numeric Types

In [ ]:
from sqlalchemy import Table, Column, SMALLINT, INTEGER, BIGINT, NUMERIC, REAL, FLOAT

Base = declarative_base()
class Table2(Base):
    __tablename__ = 'table2'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    #column1 = Column(TINYINT())
    column2 = Column(SMALLINT())
    column3 = Column(INTEGER())
    column4 = Column(BIGINT())
    column5 = Column(NUMERIC())
    column7 = Column(REAL())
    column7 = Column(FLOAT())

    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.drop_all(engine)

### Character string Types

In [ ]:
from sqlalchemy import Table, Column, VARCHAR, NVARCHAR

Base = declarative_base()
class Table3(Base):
    __tablename__ = 'table3'
    __table_args__ = {'hana_table_type': 'COLUMN'}
    
    id = Column(Integer, primary_key=True)
    column1 = Column(VARCHAR())
    column2 = Column(NVARCHAR())
    #column3 = Column(ALPHANUM())
    #column4 = Column(SHORTTEXT())
    def __repr__(self):
        return "<User(id=%d, column1=%s, column2=%s)>" % (
        self.id, self.column1, self.column2)

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.drop_all(engine)