# SQLAlchemy Tutorial

## Installation

In [1]:
!pip install sqlalchemy-hana
!pip install hdbcli

Requirement already satisfied: sqlalchemy-hana in /usr/local/lib/python2.7/site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=1.0.0 in /usr/local/lib/python2.7/site-packages (from sqlalchemy-hana) (1.3.5)
Requirement already satisfied: hdbcli in /usr/local/lib/python2.7/site-packages (2.5.101)

In [2]:
import sqlalchemy
sqlalchemy.__version__

'1.3.5'

## Connecting to a Database

In [3]:
from sqlalchemy import create_engine

In [4]:
URL = "hana+hdbcli://SYSTEM:HXEHana1@192.168.219.104:39017"

In [5]:
engine = create_engine(URL, echo=True)

In [6]:
engine

Engine(hana+hdbcli://SYSTEM:***@192.168.219.104:39017)

In [7]:
conn = engine.connect()

In [8]:
engine

Engine(hana+hdbcli://SYSTEM:***@192.168.219.104:39017)

### Reference
- https://www.tutorialspoint.com/sap_hana/sap_hana_data_types.htm
- https://docs.sqlalchemy.org/en/13/core/type_basics.html

## Data Types

### DATE Type

In [9]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE1(
    COLUMN1 DATE,
    COLUMN2 TIME,
    COLUMN3 SECONDDATE,
    COLUMN4 TIMESTAMP)
"""
)

2020-07-15 01:20:08,193 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE TABLE1(
    COLUMN1 DATE,
    COLUMN2 TIME,
    COLUMN3 SECONDDATE,
    COLUMN4 TIMESTAMP)

2020-07-15 01:20:08,194 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,213 INFO sqlalchemy.engine.base.Engine COMMIT

### DATE Type

In [10]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN1) VALUES('2020-07-01');
"""
)

2020-07-15 01:20:08,231 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN1) VALUES('2020-07-01');

2020-07-15 01:20:08,233 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,264 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,282 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-07-15 01:20:08,284 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)

#### TIME

In [12]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN2) VALUES('07:00:00');
"""
)

2020-07-15 01:20:08,315 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN2) VALUES('07:00:00');

2020-07-15 01:20:08,317 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,333 INFO sqlalchemy.engine.base.Engine COMMIT

In [13]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,354 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-07-15 01:20:08,357 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)

#### SECOND DATE Type

In [14]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN3) VALUES('2020-07-01 07:00:00');
"""
)

2020-07-15 01:20:08,403 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN3) VALUES('2020-07-01 07:00:00');

2020-07-15 01:20:08,404 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,512 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,534 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-07-15 01:20:08,536 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)
(None, None, datetime.datetime(2020, 7, 1, 7, 0), None)

#### TIMESTAMP Type

In [16]:
conn.execute(
"""
INSERT INTO TABLE1(COLUMN4) VALUES('2020-07-01 07:31:00.9999999');
"""
)

2020-07-15 01:20:08,564 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE1(COLUMN4) VALUES('2020-07-01 07:31:00.9999999');

2020-07-15 01:20:08,566 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,604 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
rs = conn.execute(
"""
SELECT * FROM TABLE1;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,624 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE1;

2020-07-15 01:20:08,625 INFO sqlalchemy.engine.base.Engine ()
(datetime.date(2020, 7, 1), None, None, None)
(None, datetime.time(7, 0), None, None)
(None, None, datetime.datetime(2020, 7, 1, 7, 0), None)
(None, None, None, datetime.datetime(2020, 7, 1, 7, 31, 0, 999999))

In [18]:
conn.execute(
"""
DROP TABLE TABLE1
"""
)

2020-07-15 01:20:08,642 INFO sqlalchemy.engine.base.Engine
DROP TABLE TABLE1

2020-07-15 01:20:08,645 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,658 INFO sqlalchemy.engine.base.Engine COMMIT

### Numeric Types

In [19]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE2(
    COLUMN1 TINYINT,
    COLUMN2 SMALLINT,
    COLUMN3 INTEGER,
    COLUMN4 BIGINT,
    COLUMN5 DECIMAL(4,3),
    COLUMN6 SMALLDECIMAL,
    COLUMN7 REAL,
    COLUMN8 DOUBLE,
    COLUMN9 FLOAT(6))
"""
)

2020-07-15 01:20:08,680 INFO sqlalchemy.engine.base.Engine
CREATE COLUMN TABLE TABLE2(
    COLUMN1 TINYINT,
    COLUMN2 SMALLINT,
    COLUMN3 INTEGER,
    COLUMN4 BIGINT,
    COLUMN5 DECIMAL(4,3),
    COLUMN6 SMALLDECIMAL,
    COLUMN7 REAL,
    COLUMN8 DOUBLE,
    COLUMN9 FLOAT(6))

2020-07-15 01:20:08,681 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,701 INFO sqlalchemy.engine.base.Engine COMMIT

#### TINYINT Type

In [20]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN1) VALUES(0);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN1) VALUES(255);
"""
)

2020-07-15 01:20:08,719 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN1) VALUES(0);

2020-07-15 01:20:08,720 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,741 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-15 01:20:08,748 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN1) VALUES(255);

2020-07-15 01:20:08,756 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,776 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,796 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:08,798 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)

#### SMALLINT Type

In [22]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN2) VALUES(-32768);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN2) VALUES(32767);
"""
)

2020-07-15 01:20:08,828 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN2) VALUES(-32768);

2020-07-15 01:20:08,830 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,845 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-15 01:20:08,853 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN2) VALUES(32767);

2020-07-15 01:20:08,854 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:08,883 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:08,901 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:08,902 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)

#### INTEGER Type

In [24]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN3) VALUES(-214748648);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN3) VALUES(214748647);
"""
)

2020-07-15 01:20:09,165 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN3) VALUES(-214748648);

2020-07-15 01:20:09,166 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,216 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-15 01:20:09,220 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN3) VALUES(214748647);

2020-07-15 01:20:09,222 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,272 INFO sqlalchemy.engine.base.Engine COMMIT

In [25]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:09,294 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:09,295 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)

#### BIGINT Type

In [26]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN4) VALUES(-9223372036854775808);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN4) VALUES(9223372036854775807);
"""
)

2020-07-15 01:20:09,324 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN4) VALUES(-9223372036854775808);

2020-07-15 01:20:09,326 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,389 INFO sqlalchemy.engine.base.Engine COMMIT
2020-07-15 01:20:09,395 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN4) VALUES(9223372036854775807);

2020-07-15 01:20:09,399 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,419 INFO sqlalchemy.engine.base.Engine COMMIT

In [27]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:09,447 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:09,449 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)

#### DECIMAL

In [28]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN5) VALUES(3.1234567890123456789012345678901234);
"""
)

2020-07-15 01:20:09,576 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN5) VALUES(3.1234567890123456789012345678901234);

2020-07-15 01:20:09,578 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,639 INFO sqlalchemy.engine.base.Engine COMMIT

In [29]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:09,666 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:09,668 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)

#### SMALLDECIMAL

In [30]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN6) VALUES(3.1234567890123456);
"""
)

2020-07-15 01:20:09,744 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN6) VALUES(3.1234567890123456);

2020-07-15 01:20:09,746 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,773 INFO sqlalchemy.engine.base.Engine COMMIT

In [31]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

2020-07-15 01:20:09,791 INFO sqlalchemy.engine.base.Engine
SELECT * FROM TABLE2;

2020-07-15 01:20:09,793 INFO sqlalchemy.engine.base.Engine ()
(0, None, None, None, None, None, None, None, None)
(255, None, None, None, None, None, None, None, None)
(None, -32768, None, None, None, None, None, None, None)
(None, 32767, None, None, None, None, None, None, None)
(None, None, -214748648, None, None, None, None, None, None)
(None, None, 214748647, None, None, None, None, None, None)
(None, None, None, -9223372036854775808, None, None, None, None, None)
(None, None, None, 9223372036854775807, None, None, None, None, None)
(None, None, None, None, Decimal('3.123'), None, None, None, None)
(None, None, None, None, None, Decimal('3.123456789012345'), None, None, None)

#### REAL

In [32]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN7) VALUES(-3.40E);
"""
)

2020-07-15 01:20:09,816 INFO sqlalchemy.engine.base.Engine
INSERT INTO TABLE2(COLUMN7) VALUES(-3.40E);

2020-07-15 01:20:09,817 INFO sqlalchemy.engine.base.Engine ()
2020-07-15 01:20:09,824 INFO sqlalchemy.engine.base.Engine ROLLBACK

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

ProgrammingError: (hdbcli.dbapi.ProgrammingError) (257, 'sql syntax error: incorrect syntax near "E": line 2 col 37 (at pos 38)')
[SQL:
INSERT INTO TABLE2(COLUMN7) VALUES(-3.40E);
]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

#### DOUBLE

In [ ]:
conn.execute(
"""
INSERT INTO TABLE2(COLUMN8) VALUES(-1.7976931348623157E308);
"""
)
conn.execute(
"""
INSERT INTO TABLE2(COLUMN8) VALUES(1.7976931348623157E308);
"""
)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

#### FLOAT(n)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE2;
"""
)
for row in rs:
    print(row)

In [ ]:
conn.execute(
"""
DROP TABLE TABLE2
"""
)

### Character string type

In [ ]:
conn.execute(
"""
CREATE COLUMN TABLE TABLE3(
    COLUMN1 VARCHAR(10),
    COLUMN2 NVARCHAR(10),
    COLUMN3 ALPHANUM,
    COLUMN4 SHORTTEXT(10))
"""
)

#### VARCHAR

In [ ]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN1) VALUES('VARCHAR');
"""
)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

#### NVARCHAR

In [ ]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN2) VALUES('VARCHAR');
"""
)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

#### ALPHANUM

In [ ]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN3) VALUES('1');
"""
)
conn.execute(
"""
INSERT INTO TABLE3(COLUMN3) VALUES('7');
"""
)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

#### SHORTTEXT

In [ ]:
conn.execute(
"""
INSERT INTO TABLE3(COLUMN4) VALUES('1');
"""
)
conn.execute(
"""
INSERT INTO TABLE3(COLUMN4) VALUES('10');
"""
)

In [ ]:
rs = conn.execute(
"""
SELECT * FROM TABLE3;
"""
)
for row in rs:
    print(row)

In [ ]:
conn.execute(
"""
DROP TABLE TABLE3
"""
)